<div class="container mt-5">
  <button
    [routerLink] = "['/clientes/form']"
    type="button"
    class="editButton btn btn-success mb-5"
    title="Nuevo cliente"
  >
    Nuevo cliente
  </button>

<div *ngIf="clientList?.length == 0" class="alert alert-info">
  No hay clientes en la base de datos
</div>

  <table class="table table-striped" *ngIf="clientList?.length > 0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Phone</th>
        <th scope="col">Created At</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientList; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ cliente.name }}</td>
        <td>{{ cliente.surname }}</td>
        <td>{{ cliente.phone }}</td>
        <td>{{ cliente.createAt }}</td>
        <td>
          <button
           [routerLink]="['/clientes/form/', cliente.id]"
            type="button"
            class="editButton btn btn-primary"
            title="Editar cliente"
          >
            <i class="bi bi-pen"></i>
          </button>
          <button
            (click)="eliminarCliente(cliente.id)"
            type="button"
            class="btn btn-danger"
            title="Eliminar cliente"
          >
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

