/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 80px !important;
}